@{
    ViewData["Title"] = "Home Page";
}

@*<form enctype="multipart/form-data" action="Home/Index" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        UserName = <input type="text" name="username" value="" />
    </div>
    <div class="form-group">
        Password = <input type="text" name="password" value="" />
    </div>
    <button type="submit">Save Data</button>
</form>*@

<Iframe src="https://www.google.com"></Iframe> @*ติดCORS*@